.square {

  background: #fff;
  border: 1px solid #999;

  float: left;  /* Element floats to the left within its container. */
  width: 34px;
  height: 34px;
  line-height: 34px;

  margin-right: -1px;  /* We're using a -1px margin to offset the 1px border width. */
  margin-top: -1px;    /*   That way, grid edges overlap! */
  padding: 0;

  font-size: 24px;
  font-weight: bold;
  text-align: center;

}

/* Uses CSS grid to cleanly lay out columns.

   Note how they're 33px wide - just like how
   .square is 34px wide *minus* the 1px border for overlap!
*/
.grid {
  display: grid;
  grid-template-columns: 33px 33px 33px;
}
